*{
    
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
.main{
    background-color: blue;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff ;
}

.left{
    display: flex;
    flex-direction: column;
    color: #fff;
    max-height: 500px;
    max-width: 250px;
}
.right{
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    background-color: #fff;
    height: 400px;
    width: 300px;
    padding: 10px;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
button{
    height: 30px;
    width: 100px;
    border-radius: 12px;
    color: #fff;
    border-width: 0px;
    cursor: pointer;
}
.b-1{
    background-color:#f505c5;
}
.b-2{
    background-color: #052df5;
    width: 200px;
}
.b-3{
    background-color: #05ddf5;
    width: 200px;
}
.a{
    color: #05ddf5;
}
input{
    border-radius: 12px;
    height: 30px;
    border-style: solid;
}

input[type="checkbox"] {
    display: inline-block;
  }
  h3{
    color: #fff;
  }

  .form-group {
    margin-bottom: 1rem;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  .form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-check-input {
    margin-right: 1rem;
    background-color: #05ddf5;
  }
  .form-check-label {
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px;
        border-radius: 10px;
    }
    *{
        padding: 50px;
    }
    .right{
        order: 1;
        margin-top: 40px;
    }
    .left{
        margin-bottom: 50px;
    }
  }
  /* Landscape view screens */
  @media (min-width: 768px) and (orientation: landscape) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px;
        border-radius: 10px;
    }
    
  }
